@import url(../../css/bootstrap-grid.min.css);
@import url(../../css/style.css);
.books-main .new-books { margin: 0 0 16px; }
.books-main .new-books:nth-child(5) { margin: 0 5px 29px; }
.books-main .new-books-content { max-width: 204px; }
.books-main .new-books-content__author { font-style: normal; font-weight: normal; font-size: 14px; line-height: 17px; color: #ADADAD; }
.books-main .new-books-content__title { font-style: normal; font-weight: 500; font-size: 14px; line-height: 17px; color: #686868; }
.books-main .new-books-card { max-height: 299.42px; max-width: 231px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; border: 1px solid #C4C4C4; position: relative; overflow: hidden; margin-bottom: 12px; cursor: pointer; transition: 0.1s all; }
.books-main .new-books-card:hover { border: 1px solid #FFFFFF; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); transform: scale(1.01, 1.04); }
.books-main .new-books-card__bottom { display: flex; justify-content: space-between; align-items: center; padding: 10px 15px 5px; }
.books-main .new-books-card__price { font-style: normal; font-weight: normal; font-size: 12px; line-height: 17px; color: #232323; text-shadow: 0 0 15px rgba(0, 0, 0, 0.2); transform: matrix(1, 0, 0, 1, 0, 0); }
.books-main .new-books-card__price span { font-size: 14px; font-weight: bold; }
.books-main .new-books-card__buyBtn { background: #2ECC71; border-radius: 100px; border: none; outline: none; font-style: normal; font-weight: 300; font-size: 14px; line-height: 12px; color: #FFFFFF; padding: 7px 13px; margin: -3px -3px 1px 0; cursor: pointer; }
.books-main .new-books-card__buyBtn:hover { background: #27AE60; }
.books-main .new-books-card__buyBtn:focus { outline: none; }
.books-main__title { font-style: normal; font-weight: 600; font-size: 24px; line-height: 29px; color: #333333; margin-bottom: 14px; }
.books-main__title:first-child { margin-top: 85px; }
.books-main a { display: inline-block; }
.books-main a:focus { outline: none; }
.books-main .slick-arrow { position: absolute; z-index: 3; top: -25px; right: 0; width: 9.5px; height: 18px; border: none; outline: none; cursor: pointer; }
.books-main .slick-arrow:focus { outline: none; }
.books-main .slick-list { max-height: 367px; }
.books-main .slick-slide { display: block; visibility: hidden; transition: 0.15s all; }
.books-main .slick-slide.slick-active { outline: none; visibility: visible; margin: 11px 5px 11px 5px; }
.books-main .slick-slide.slick-active img { width: 100%; }
.books-main .slick-slide.slick-current { margin: 11px 5px 11px 0; }
.books-main .slick-prev { background: url("../../images/content/other-sliders/icons/prev.png") center/cover; right: 13px; }
.books-main .slick-prev.slick-disabled { background: url("../../images/content/other-sliders/icons/prev-disabled.png") center/cover; }
.books-main .slick-next { background: url("../../images/content/other-sliders/icons/next1.png") center/cover; right: -4px; }
.books-main .slick-next.slick-disabled { background: url("../../images/content/other-sliders/icons/next-disabled.png") center/cover; }

.book-crumbs { display: flex; margin: 25px 0; }
.book-crumbs__items { margin-right: 12px; }
.book-crumbs__items a { font-style: normal; font-weight: 500; font-size: 14px; line-height: 17px; color: #828282; }

.book-imgBlock { width: 314px; float: left; margin-top: -20px; margin-right: 27px; position: relative; z-index: 4; }
.book-imgBlock__big { width: 100%; height: 418px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; overflow: hidden; box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); margin-bottom: 10px; }
.book-imgBlock__btn { width: 96px; height: 61px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); border-radius: 10px; margin-right: 13px; cursor: pointer; }
.book-imgBlock__btn:hover { transform: scale(1.2); }
.book-imgBlock__btn_01 { background: url("../../images/card/book-01.png") center/cover; }
.book-imgBlock__btn_02 { background: url("../../images/content/other-sliders/book-2.png") center/cover; }
.book-imgBlock__btn_03 { background: url("../../images/content/other-sliders/book-3.png") center/cover; }
.book-imgBlock__btn:last-child { margin-right: 0; }
.book-imgBlock__previews { display: flex; }
.book-title { padding: 21px 0 26px; background: #FFBA52; border-radius: 0 10px 10px 0; margin-top: 45px; margin-bottom: 25px; }
.book-title__author { font-style: normal; font-weight: 500; font-size: 14px; line-height: 17px; color: #FFFFFF; }
.book-title__title { font-style: normal; font-weight: bold; font-size: 30px; line-height: 37px; color: #333333; margin-bottom: 10px; }
.book-title__rating span { display: inline-block; width: 20px; height: 20px; }
.book-title__rating span:nth-child(1) { background: url("../../images/card/green-star.png") center/cover; }
.book-title__rating span:nth-child(2) { background: url("../../images/card/green-star.png") center/cover; }
.book-title__rating span:nth-child(3) { background: url("../../images/card/green-star.png") center/cover; }
.book-title__rating span:nth-child(4) { background: url("../../images/card/green-star.png") center/cover; }
.book-title__rating span:nth-child(5) { background: url("../../images/card/star.png") center/cover; }
.book-table { font-style: normal; font-weight: 500; font-size: 14px; line-height: 20px; margin-bottom: 75px; }
.book-table tr td { padding: 2px 0; }
.book-table__title { color: #686868; width: 155px; }
.book-table__title_has { color: #26A9E0; }
.book-table__line { width: 200px; border-bottom: 1px solid #EFEFEF; }
.book-table__desc { padding: 2px 0 2px 20px !important; color: #adadad; width: 205px; }
.book-table__desc_has { color: #26A9E0; }
.book-btnGroup__btn { width: 160px; height: 52px; border-radius: 20px; outline: none; border: none; cursor: pointer; }
.book-btnGroup__btn_cart { border: 1px solid #2ECC71; background: none; font-style: normal; font-weight: 500; font-size: 16px; line-height: 20px; color: #333333; margin-right: 15px; }
.book-btnGroup__btn_cart:hover { color: #FFFFFF; background: #2ECC71; }
.book-btnGroup__btn_buy { background: #2ECC71; font-style: normal; font-weight: 500; font-size: 18px; line-height: 22px; color: #FFFFFF; }
.book-btnGroup__btn_buy:hover { background: #27AE60; }
.book-delivery { width: 242px; float: right; margin-right: 100px; }
.book-delivery__btn { width: 242px; height: 54px; border: 1px solid #E94C3D; border-radius: 10px; padding: 0 20px 0 25px; background: none; display: flex; align-items: center; justify-content: space-between; font-style: normal; font-weight: 500; font-size: 15px; line-height: 17px; color: #E94C3D; cursor: pointer; margin-bottom: 20px; }
.book-delivery__btn:hover { background: #E94C3D; color: #FFFFFF; }
.book-delivery__btn:focus { outline: none; }
.book-delivery__btn_active { background: none; color: #2ECC71; border: 1px solid #2ECC71; }
.book-delivery__btn_active:hover { background: #2ECC71; color: #FFFFFF; }
.book-delivery-block { width: 242px; padding: 17px 26px; border: 1px solid #DADADA; border-radius: 10px; font-style: normal; line-height: 15px; }
.book-delivery-block ul { margin-bottom: 15px; }
.book-delivery-block ul:last-child { margin-bottom: 0; }
.book-delivery-block ul li { font-size: 12px; font-weight: normal; color: #adadad; margin-bottom: 0; }
.book-delivery-block h3 { font-weight: 500; font-size: 12px; color: #000; margin-bottom: 0; }
.book-desc { margin-top: 30px; width: 863px; }
.book-desc__title { font-style: normal; font-weight: 600; font-size: 18px; line-height: 22px; color: #333333; margin-bottom: 7px; }
.book-desc__text p { font-style: normal; font-weight: normal; font-size: 14px; line-height: 20px; color: #828282; margin-bottom: 10px; }
.book-desc__text p:last-child { margin-bottom: 50px; }
.book-desc-reviewTitle { display: flex; justify-content: space-between; align-items: center; position: relative; margin-bottom: 37px; }
.book-desc-reviewTitle__allRev { font-style: normal; font-weight: 600; font-size: 14px; line-height: 17px; color: #333333; }
.book-desc-reviewTitle__allRev span { color: #adadad; }
.book-desc-reviewTitle__yourRev { font-style: normal; font-weight: 600; font-size: 14px; line-height: 17px; color: #26A9E0; cursor: pointer; }
.book-desc-reviewTitle__yourRev img { margin-right: 10px; }
.book-desc-reviewTitle:before { content: ''; position: absolute; width: 100%; height: 1px; background: #E5E5E5; bottom: -10px; left: 0; }
.book-desc-reviews { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; margin-bottom: 0; visibility: hidden; height: 0; }
.book-desc-reviews_activ { margin-bottom: 30px; height: 100%; visibility: visible; }
.book-desc-reviews:last-child { margin-bottom: 50px; }
.book-desc-reviews__user { display: flex; align-items: center; font-style: normal; font-weight: 500; font-size: 12px; line-height: 20px; color: #333333; margin-bottom: 10px; }
.book-desc-reviews__user img { margin-right: 7px; }
.book-desc-reviews__rating { display: flex; align-items: center; margin-bottom: 10px; width: 90px; }
.book-desc-reviews__rating span { width: 14px; height: 14px; margin-right: 5px; }
.book-desc-reviews__rating span:nth-child(1) { background: url("../../images/search/star-active.png") center/cover; }
.book-desc-reviews__rating span:nth-child(2) { background: url("../../images/search/star-active.png") center/cover; }
.book-desc-reviews__rating span:nth-child(3) { background: url("../../images/search/star-active.png") center/cover; }
.book-desc-reviews__rating span:nth-child(4) { background: url("../../images/search/star-active.png") center/cover; }
.book-desc-reviews__rating span:nth-child(5) { background: url("../../images/search/star.png") center/cover; margin-right: 0; }
.book-desc-reviews p { width: 100%; font-style: normal; font-weight: normal; font-size: 14px; line-height: 20px; color: #828282; }
.book-desc-form { display: flex; flex-wrap: wrap; justify-content: space-between; border-radius: 10px; padding: 0; filter: blur(7px); height: 0; transition: 0.5s all; visibility: hidden; }
.book-desc-form__title { font-style: normal; font-weight: 600; font-size: 14px; line-height: 17px; color: #333333; margin-bottom: 15px; width: 100%; }
.book-desc-form__user { display: flex; align-items: center; margin-bottom: 27px; font-style: normal; font-weight: 500; font-size: 14px; line-height: 20px; color: #686868; }
.book-desc-form__user img { margin-right: 10px; }
.book-desc-form__rating { display: flex; align-items: center; margin-bottom: 27px; font-style: normal; font-weight: 500; font-size: 14px; line-height: 20px; color: #686868; }
.book-desc-form__rating .rating { position: relative; font-size: 0; width: 80px; height: 15px; background-image: url("../../images/search/star.png"); margin-left: 10px; }
.book-desc-form__rating .rating .star { width: 15px; height: 15px; position: absolute; z-index: 5; display: inline-block; }
.book-desc-form__rating .rating .star:nth-child(2) { left: 20px; }
.book-desc-form__rating .rating .star:nth-child(2):hover { width: 32px; }
.book-desc-form__rating .rating .star:nth-child(3) { left: 36px; }
.book-desc-form__rating .rating .star:nth-child(3):hover { position: absolute; width: 48px; }
.book-desc-form__rating .rating .star:nth-child(4) { left: 53px; }
.book-desc-form__rating .rating .star:nth-child(4):hover { width: 64px; }
.book-desc-form__rating .rating .star:nth-child(5) { left: 69px; }
.book-desc-form__rating .rating .star:nth-child(5):hover { width: 80px; }
.book-desc-form__rating .rating .star:hover { z-index: 2; left: 0; background-image: url("../../images/search/star-active.png"); }
.book-desc-form label { width: 100%; }
.book-desc-form label textarea { width: 100%; resize: none; outline: none; border: none; background: #FFFFFF; border-radius: 10px; padding: 10px; margin-bottom: 14px; }
.book-desc-form label textarea:focus { outline: none; }
.book-desc-form label textarea::-webkit-input-placeholder { font-style: normal; font-weight: 500; font-size: 12px; line-height: 20px; color: #ADADAD; }
.book-desc-form button { width: 146px; height: 38px; background: #26A9E0; border-radius: 20px; font-style: normal; font-weight: 500; font-size: 12px; line-height: 20px; color: #FFFFFF; border: none; outline: none; cursor: pointer; }
.book-desc-form button:focus { outline: none; }
.book-desc-form__active { visibility: visible; filter: none; height: 100%; width: 100%; background: #E5E5E5; padding: 23px 21px 14px; }

/*# sourceMappingURL=style.css.map */
