@import "../../../css/bootstrap-grid.min.css";
@import "../../../css/style.css";

.news {
  &-content {
    padding: 42px 0 160px;

    &-sidebar {
      width: 433px;
      float: right;
      margin-left: 40px;

      &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #333333;
        margin: 8px 0 30px;
      }

      ul {
        border-left: 1px solid #D2E9FA;
        border-right: 1px solid #D2E9FA;
        padding-left: 25px;
        padding-right: 25px;

        li {
          margin-bottom: 48px;
          position: relative;

          a {
            display: flex;
            align-items: center;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #333333;
          }

          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background: #D2E9FA;
            bottom: -20px;
          }

          img {
            max-width: 93px;
            max-height: 80px;
            margin-right: 19px;
          }
        }
      }
    }

    &-about {
      padding-right: 40px;

      &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        color: #333333;
        margin-bottom: 25px;
      }

      .bigImg {
        max-width: 781px;
        max-height: 384px;
        margin-bottom: 30px;
      }

      &__date {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #ADADAD;
        margin-bottom: 20px;
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #333333;
        margin-bottom: 30px;
      }

      &__share {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #ADADAD;
        margin-bottom: 10px;
      }

      &__social {
        a {
          margin-right: 10px;
        }

        margin-bottom: 50px;
      }
    }

    &-interest {
      &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
      }
      .news-box{
        margin: 20px 0;
        img{
          margin-bottom: 10px;
        }
        &__text{
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: #686868;
        }
      }
    }
  }
}
