.order {
  &-form {
    width: 890px;
    &-sum{
      display: flex;
      justify-content: space-between;
      width: 360px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      &__total{
        span{
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
    &-block {
      display: flex;
      flex-wrap: wrap;
      &:nth-child(3){
        margin-bottom: 20px;
      }
      &:nth-child(4){
        border: 1px solid #C4C4C4;
        border-radius: 10px;
        padding: 17px 21px 22px;
        margin-bottom: 30px;
        h3{
          margin: 0 0 10px 0;
        }
        .radio-label{
          margin-right: 42px;
          &:last-child{
            margin-right: 0;
          }
        }
      }
      .form-label{
        margin-bottom: 10px;
        margin-right: 25px;
        position: relative;
        width: 420px;
      .error{
        position: absolute;
        right: 0;
        line-height: 61px;
        padding-right: 22px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #EE5E5E;
      }
        input{
          width: 420px;
          height: 61px;
          border: 1px solid #C4C4C4;
          border-radius: 10px;
          padding: 22px;
          &::-webkit-input-placeholder{
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #C4C4C4;
          }
          &:focus{
            outline: none;
            border: 1px solid #26A9E0;
          }
        }
      }
      &__title{
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #333333;
        margin-bottom: 25px;
        width: 100%;
        margin-top: 35px;
      }
      &__radioGroup {
        display: flex;
        flex-wrap: wrap;

        &_delivery{
          width: 430px;
          align-content: flex-start;
          .radio-label{
              margin-right: 60px;
            &:last-child{
              margin-right: 0;
            }
          }

        }
        h3{
          width: 100%;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #828282;
          margin-bottom: 10px;
        }
        .radio-label {
display: flex;
          align-items: center;
        }

        .radio {
          display: none;

          &:checked + .fake:before {
            opacity: 1;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            border: 1px solid #2ECC71;
          }
        }

        .fake {
          display: inline-block;
          width: 16px;
          height: 16px;
          border: 1px solid #26A9E0;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          position: relative;
          margin-right: 9px;

          &:before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            background: #2ECC71;
            opacity: 0;
            top: 0;
            left: -1px;
            right: 0;
            bottom: 0;
            margin: auto;

          }
        }

        .text {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 14px;
          color: #828282;
        }
      }
    }
    &__btn{
      width: 314px;
      height: 66px;
      background: #2ECC71;
      border-radius: 10px;
      cursor: pointer;
      border: none;
      outline: none;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF;
      &:focus{
        outline: none;
      }
      &:hover{
        background: #27AE60;
      }

    }
  }
}
